
:root{
    --background-color: #dce1de;
    --text-color:#1f2421;
    --primary-color:#49a078;
}

[data-theme="dark"] {
    --background-color: #1f2421;
    --text-color: #dce1de;
    --primary-color: #49a078;
}

#navbar{
    padding-top: 1vh;
}

#light{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

p{
    font-size: large;
    color: #1f2421;
}