:root {
    --text-color: #111111;
    --background-color:#EAF6FF;
    --button-highlight:#FFA400;
    --primary-color: #111111;
    --contrast-color: #dce1de;
    --prompt: #111111;
    --prompt-in:#18a999;
    --prompt-out:#FFA400;
    --text-color-dark: #EAF6FF;
    --contrast-color-dark:#000000;
    --background-color-dark: #111111;
    --primary-color-dark: #EAF6FF;
    --highlight-color-dark:#18a999;
    --button-highlight-dark:#FFA400;
    --prompt-dark: #FFA400;
    --font-size: 1em;
}

[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --primary-color: var(--primary-color-dark);
    --prompt : var(--prompt-dark);
    --contrast-color: var(--contrast-color-dark);
}

#main-container{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}

#terminal{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
    border-top: var(--primary-color) 1px solid;
}

.terminal-prompt-in {
    font-weight: 500;
    color: var(--prompt-in);
    margin-right: 10px;
}

.terminal-prompt-out {
    font-weight: 500;
    color: var(--prompt-out);
    margin-right: 10px;
}


.terminal-line{
    display: flex;
    align-items: center;
    align-content: center;
    padding-inline-start: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
    margin-bottom:5px;
}

.terminal-input{
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    overflow-y:hidden;
    color: var(--text-color);
    border-radius: 5px;
    border: var(--highlight-color-dark) 1px solid;
    overflow-wrap: break-word;
    width: 100vw;
    max-height: 50vh;
    font-size: var(--font-size);
    font-weight: 100;
}

.show-scroll{
    overflow-y: auto;
}

.terminal-output{
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    overflow-y:hidden;
    color: var(--text-color);
    border-radius: 5px;
    border: var(--prompt-dark) 1px solid;
    overflow-wrap: break-word;
    width: 100vw;
    max-height: 50vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
    font-weight: 400;
}

#navbar {
    height: fit-content;
    padding: 1vh;
    width: 100vw;
    border-bottom: var(--primary-color) 1px solid;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos a los extremos */
}

#home-logo{
    width: 99%;
    height: 99%;
    fill: #49a078;
}

#home-buttom{
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#user-profile,
#settings-button,
#light {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 0 10px; /* Ajusta el relleno según sea necesario */
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#light i,
#user-profile i,
#settings-button i {
    color: var(--primary-color);
}

[data-theme="light"] #light i,
[data-theme="light"] #user-profile i,
[data-theme="light"] #settings-button i {
    color: var(--primary-color-light);
}

body {
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family:'Times New Roman', Times, serif;
}

p {
    font-size: large;
    color: var(--text-color);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }