
#chatContainers{
    background-color: black;
    height: 99vh;
    width: 100%;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

#rightPanel{
    background-color: inherit;
    height: inherit;
    max-width: fit-content;
    margin-left: 0px;
    align-items: center;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

#leftPanel{
    background-color: inherit;
    height: inherit;
    margin-left: auto;
    max-width: fit-content;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

#documentUpload{
    display: flex;
    max-width: fit-content;
}

#displayOutput{
    height: 50rem;
    width: 100%;
    border-width: 1px;
    border-color: aliceblue;
}

#chatBar{
    width: inherit;
}
#chatBar #textArea{
    width: 100vw;
}